{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!doctype html>
<html lang="pt-BR">
  <head>
  	<title>Assistência Técnica</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'general/css/style_login.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    {% block 'head' %}{% endblock %}


  </head>
  <body>

    <br>
    <br>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card auth-card">
                <div class="card-body">
                    <h3 class="card-title text-center">Entrar</h3>

                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">

                        {{ form|crispy }}

                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    {% endblock %}
