

.card-dashboard{

    background-color: var(--dark-color);
    width: 50%;
    margin-left: 260px;
    margin-top: 68px;
    border-radius: 13px;
    text-align: center;
    padding: 0px;
    cursor: pointer;

}

.text-card{

    font-size: 20px;
    width: 30%;
    margin-left: 40px;
    margin-top: 1px;
    text-align: center;
    padding: 15px;
}

.btn-add-comp{

    background-color: #2f89fc;
    padding: 30px;
    border-radius: 13px;
    font-weight: bold;
    cursor: pointer;

}

.btn-principal{
    color:white;
    border: none;
    border-radius: 13px;
    background-color: #4caf50;
    padding: 5px;
    font-size: 20px;
}

#att_cliente{
    display: none;
}

#form-att-cliente{
    display: none;

}